---
import Layout from '../layouts/Layout.astro';
import { createHash } from 'node:crypto';

const repositories = await (await fetch('https://raw.githubusercontent.com/jrwnnnn/jrwnnnn-me/refs/heads/data/repositories.json')).json();
const participation = await (await fetch('https://raw.githubusercontent.com/jrwnnnn/jrwnnnn-me/refs/heads/data/participation.json')).json();

let total = 0;
for (const repo of Object.values(repositories) as Record<string, number>[]) {
    total += repo.size ?? 0;
}
---

<Layout title="PROJECTS">
    <main class="flex flex-col space-y-8">
        <div class="flex justify-between items-end">
            <div>
                <p class="text-xl font-bold tracking-widest">> PROJECT_DATABASE</p>
                <p class="mt-1 text-sm opacity-70">Found {repositories.length} records in local storage. Total size: {total} B</p>
            </div>
            <a href="/" class="hidden text-sm md:block group">
                <span class="inline-block group-hover:-translate-x-1">&lt;</span> [ RETURN ]
            </a>
        </div>
        <hr class="bg-green-500">
        <div class="flex flex-wrap gap-2">
            {Object.values(repositories).map((repo: any) => {
                const width =  (60 + Math.floor(Math.min(repo.size ?? 0, 100000) / 2500)) / 4;
                const statusClass = repo.archived 
                    ? 'border-green-500 bg-green-900/5 opacity-50 hover:opacity-100 focus:opacity-100' 
                    : 'border-green-500 bg-green-900/10  hover:bg-green-500 hover:text-black focus:bg-green-500 focus:text-black';

                const stats = participation[repo.name]?.all ?? new Array(52).fill(0);
                const max = Math.max(...stats) || 1;
                const points = stats.map((v: number, i: number) => 
                    `${i * 2},${25 - (v / max) * 25}`
                ).join(' ');

                return (
                    <a href={repo.html_url} target="_blank" style={{'--w': `${width}rem`}} class={`${statusClass} w-full md:w-(--w) border p-4 flex flex-col space-y-2 justify-between`}>
                        <div class="flex justify-between font-mono opacity-60 text-[.7rem]">
                            <div>0x{createHash('md5').update(repo.name).digest('hex').substring(0, 6)}</div>
                            <div>{repo.size} B</div>
                        </div>
                        <div class="flex items-center">
                            <p class="text-lg font-bold uppercase truncate">{repo.name}</p>
                            <svg class="inline-block ml-1 w-3.5 h-3.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg>
                        </div>
                        <p class="text-xs opacity-70 line-clamp-2">{repo.description ?? "No description available."}</p>

                        {/* Activity Graph */}
                        <svg viewBox="0 0 102 25" class="w-full h-8 opacity-60 hover:opacity-100" preserveAspectRatio="none">
                            <polyline 
                                points={points} 
                                fill="none" 
                                stroke="currentColor" 
                                stroke-width="2" 
                                vector-effect="non-scaling-stroke" 
                                stroke-linecap="round" 
                                stroke-linejoin="round" />
                        </svg>

                        <div class="flex justify-between items-end mt-2">
                            <div class="flex gap-2 items-center text-xs tracking-wider uppercase">
                                <div class="py-0.5 px-2 border">{repo.language ?? "RAW"}</div>
                                <div class="py-0.5 px-2 border">{repo.license?.spdx_id ?? "N/A"}</div>
                            </div>
                            <div class={`w-2 h-2 rounded-full ${repo.archived ? 'bg-red-900' : 'bg-green-500 animate-pulse'}`}></div>
                        </div>
                    </a>
                )
            })}
        </div>
    </main>
</Layout>
